################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/CSharpPractice/.vs
/Src/CSharpPractice/CSharpPractice/bin/Debug/netcoreapp2.0
/Src/CSharpPractice/CSharpPractice/obj
